@using Education.ViewModel;
@model InstructorPassword;
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Change Password</h1>
<hr/>
<div asp-validation-summary="All"></div>
<form method="post" asp-action="ChangePassword">
    
    <div>
        <label >Email</label>
        <input class="form-control" value="@ViewBag.email" disabled/>
    </div>
    <div>
        <label >Old password</label>
        <input class="form-control"  name="OldPassword" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
        
    </div>
    <div>
        <label asp-for="Password">New Password</label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="confirmPassword"></label>
        <input class="form-control" asp-for="confirmPassword" />
        <span asp-validation-for="confirmPassword" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary mt-4" vlaue="Change Password"/>
    <div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
