@using Education.Models
@model Instructor
@{
    ViewData["Title"] = "Delete";
    //Layout = "_Layout";
}

<h1>Delete Instructor</h1>
<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" disabled />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" disabled />
    </div>
    <div>
        <label asp-for="Phone"></label>
        <input class="form-control" asp-for="Phone" disabled />
    </div>
    <div>
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address" disabled />
    </div>
    <div>
        <label asp-for="Age"></label>
        <input class="form-control" asp-for="Age" disabled />
    </div>
    <div>
        <label asp-for="image"></label>
        <input class="form-control" asp-for="image" disabled />
    </div>

</form>

@using (Html.BeginForm("DeleteConfirmed", "Instructor", new { id = Model.Id }))
{
    <p>
        <input type="submit" value="Delete" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this course?')" />
        <br>
        <br>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </p>
}
