@model List<Education.ViewModel.Lesson_infoViewModel>
@{
    ViewData["Title"] = "Mylesson";
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js" integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" integrity="sha512-IXuoq1aFd2wXs4NqGskwX2Vb+I8UJ+tGJEu/Dc0zwLNKeQ7CW3Sr6v0yU3z5OQWe3eScVIkER4J9L7byrgR/fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @if (TempData["NoData"] != null)
    {
        <script type="text/javascript">
            alertify.alert('There is no material on this date!', null, 'Education');
        </script>
    }
 
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card rounded ">
                    <div class="card-body">
                        <p class="card-title">My Lesson</p>
                        <!--Search Date-->
                        <form asp-action="Search_Mylesson" class="row d-flex justify-content-center align-items-center ">
                            <div class="col-lg-3 col-md-12 ">
                                <input type="date" name="date" class="form-control  rounded-pill">
                            </div>
                            <div class="col-lg-2 col-md-12">
                                <button type="submit" class="btn btn-primary mb-3 m-2">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </form>
                        <!--End Search Date-->
                        <div class="row mt-3">
                            <div class="col-md-12 ">
                                <table class=" table m-auto table-bordered table-hover " role="grid">
                                    <thead class="bg-primary text-light text-center">
                                        <tr role="row">
                                            <th>Number</th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class=" select-checkbox">@item.Number</td>
                                                <td>@item.Name</td>
                                                <td>@item.Type</td>
                                                <td>@item.Date.ToString("MM-dd-yyyy")</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
   
