@model Student
@{
    ViewData["Title"] = "New";
}
<div class="main-panel">
    <form method="post" enctype="multipart/form-data">
        @* asp-action="New" asp-controller="Employee" asp-route-id="@Model.Id">*@

        <div>
            <label asp-for="Name">
            </label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Age"></label>
            <input class="form-control" asp-for="Age" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Phone"></label>
            <input class="form-control" asp-for="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Address"></label>
            <input class="form-control" asp-for="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <input type="file" accept="image/*" name="ImageFile" id="imgInput" class="form-control" />
        </div>

        <img class="rounded " id="imgViewer" width="100" height="100" src="data:image/jpg;base64,@Convert.ToBase64String(Model?.image != null ? Model?.image : new byte[]{} )" />


        <div class="mt-4">

            <input type="submit" value="@ViewBag.EditButtonValue" class="btn btn-primary " />
            <a class="btn btn-primary" asp-action="Index" value="Back To List" class="btn btn-primary ">Back to List</a>
        </div>

    </form>
</div>


<partial name="_ValidationScriptsPartial" />

@section Scripts{
    <script type="text/javascript">
        $("#imgInput").change(function (event) {

            console.log(document.getElementById("imgViewer"));

            var files = event.target.files;
            $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
        });


    </script>


}

