@model Student
@{
    ViewData["Title"] = "New";
}
<form method="post" enctype="multipart/form-data">
    @* asp-action="New" asp-controller="Employee" asp-route-id="@Model.Id">*@
  
    <div>
        <label asp-for="Name">
        </label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Age"></label>
        <input class="form-control" asp-for="Age" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Phone"></label>
        <input class="form-control" asp-for="Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
   
    <div>
        <label for="formFile" asp-for="ImageFile">Image</label>
        <input class="form-control" asp-for="ImageFile" value="@Model?.ImageFile?.Name" type="file" id="formFile" />
    
      
       
       
    </div>
  
    <div class="mt-4">

        <input type="submit" value="@ViewBag.EditButtonValue" class="btn btn-primary " />
        <a class="btn btn-primary" asp-action="Index" value="Back To List" class="btn btn-primary ">Back to List</a>
    </div>
  
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

