@using Education.ViewModel;


@{
    ViewData["Title"] = "ViewAllRequests";
    @model List<RequestsViewModel>;
}

<div class="main-panel">
    <h1>All Requests</h1>
    <hr />
    <div>
        <table class="table table-bordered table-hover">
            <thead class="text-center bg-primary text-light">
                <tr>
                    <th scope="col">Student Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Image</th>
                    <th scope="col">Status</th>
                    <th scope="col">Operation Type</th>
                    <th scope="col">Instructor Name </th>
                    <th scope="col"> Action</th>

                </tr>
            </thead>
            <tbody id="table_div">
                <partial name="_AllRequetsPartial" for="@Model" />

            </tbody>
        </table>

    </div>

</div>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js" integrity="sha512-JnjG+Wt53GspUQXQhc+c4j8SBERsgJAoHeehagKHlxQN+MtCCmFDghX9/AcbkkNRZptyZU4zC8utK59M5L45Iw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" integrity="sha512-IXuoq1aFd2wXs4NqGskwX2Vb+I8UJ+tGJEu/Dc0zwLNKeQ7CW3Sr6v0yU3z5OQWe3eScVIkER4J9L7byrgR/fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script>
        function DeleteRefresh(id) {

            alertify.confirm("Confirm deletion", "Are you sure you want to delete this request?",
                function () {
                    var tableBody = document.getElementById("table_div");
                    $.ajax
                        (
                            {
                                url: `/Requests/DeleteRefreshRequests`,
                                data: { id: id },
                                type: "post",
                                success: function (res) {
                                    tableBody.innerHTML = res;
                                }
                            }
                        )
                    alertify.success('Deleted Successfully');
                },
                function () {
                    alertify.error('Deletion Canceled')
                });
        }
    </script>


    <style>
        .ajs-message {
            color: white;
        }
    </style>

    <script>
        function AcceptRefresh(id) {

            alertify.confirm("Confirmation", "Are you sure you want to Accept this request?",
                function () {
                    var tableBody = document.getElementById("table_div");
                    $.ajax
                        (
                            {
                                url: `/Requests/AcceptRefreshRequests`,
                                data: { id: id },
                                type: "post",
                                success: function (res) {
                                    tableBody.innerHTML = res;
                                }
                            }
                        )
                    alertify.success('Accepted Successfully');
                },
                function () {
                    alertify.error('Canceled')
                });
        }
    </script>

    <script>
        function RejectRefresh(id) {

            alertify.confirm("Confirmation", "Are you sure you want to Reject this request?",
                function () {
                    var tableBody = document.getElementById("table_div");
                    $.ajax
                        (
                            {
                                url: `/Requests/RejectRefreshRequests`,
                                data: { id: id },
                                type: "post",
                                success: function (res) {
                                    tableBody.innerHTML = res;
                                }
                            }
                        )
                    alertify.success('Request Rejected');
                },
                function () {
                    alertify.error('Canceled')
                });
        }
    </script>

                            }


